PX.Data/PX/Data/Wiki/DITA/Schems/ditaval.dtd

<?xml encoding="utf-8"?>
<!-- ============================================================= -->
<!--                        Acumatica Inc.                         -->
<!--          Copyright (c) 1994-2011 All rights reserved.         -->
<!--                                                               -->
<!--                                                               -->
<!-- This file and its contents are protected by United States     -->
<!-- and International copyright laws.  Unauthorized reproduction  -->
<!-- and/or distribution of all or any portion of the code         -->
<!-- contained here in is strictly prohibited and will result in   -->
<!-- severe civil and criminal penalties.                          -->
<!-- Any violations of this copyright will be prosecuted       	   -->
<!-- to the fullest extent possible under law.                     -->
<!--                                                               -->
<!-- UNDER NO CIRCUMSTANCES MAY THE SOURCE CODE BE USED IN WHOLE   -->
<!-- OR IN PART, AS THE BASIS FOR CREATING A PRODUCT THAT PROVIDES -->
<!-- THE SAME, OR SUBSTANTIALLY THE SAME, FUNCTIONALITY AS ANY     -->
<!-- ProjectX PRODUCT.                                             -->
<!-- THIS COPYRIGHT NOTICE MAY NOT BE REMOVED FROM THIS FILE.      -->
<!-- ============================================================= -->


<!ELEMENT val (style-conflict?, (prop | revprop)*)>

<!ELEMENT style-conflict EMPTY>
<!ATTLIST style-conflict
  foreground-conflict-color CDATA #IMPLIED
  background-conflict-color CDATA #IMPLIED
>


<!ELEMENT prop (startflag?, endflag?)>
<!ATTLIST prop
  att       CDATA	    #IMPLIED
  val       CDATA       #IMPLIED
  action    (flag|include|exclude|passthrough)  #REQUIRED
  color     CDATA       #IMPLIED
  backcolor CDATA       #IMPLIED
  style     (underline|double-underline|italics|overline|bold)       #IMPLIED
  >

<!ELEMENT startflag (alt-text?)>
<!ATTLIST startflag
  imageref  CDATA       #IMPLIED
>

<!ELEMENT endflag (alt-text?)>
<!ATTLIST endflag
  imageref  CDATA       #IMPLIED
>

<!ELEMENT alt-text (#PCDATA)>

<!-- The style attribute should be a color value (either a name, or a SRGB value).
     See below for the supported color names (taken from the XHTML DTD). -->
<!ELEMENT revprop (startflag?, endflag?)>
<!ATTLIST revprop
  val		CDATA		#IMPLIED
  action	(include|passthrough|flag)  #REQUIRED
  changebar CDATA       #IMPLIED
  color     CDATA       #IMPLIED
  backcolor CDATA       #IMPLIED
  style     (underline|double-underline|italics|overline|bold)       #IMPLIED
  >

<!-- There are 16 widely known color names with their sRGB values:

    black  = #000000    green  = #008000
    silver = #C0C0C0    lime   = #00FF00
    gray   = #808080    olive  = #808000
    white  = #FFFFFF    yellow = #FFFF00
    maroon = #800000    navy   = #000080
    red    = #FF0000    blue   = #0000FF
    purple = #800080    teal   = #008080
    fuchsia= #FF00FF    aqua   = #00FFFF
-->

